.add-button {
  background: url(../../images/add-button-logo.svg) no-repeat center / 22px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  padding: 0;
  justify-self: end;
  margin: 0;
  align-self: center;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
}

.add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 917px) {
  .add-button {
    width: 282px;
    justify-self: center;
  }
}

@media screen and (max-width: 320px) {
  .add-button {
    background-size: 16px;
  }
}
