.form__save-button_size_s {
  top: 95px;
  left: 36px;
  width: 100%;
  max-width: calc(100% - 36px*2);
}

@media screen and (max-width: 467px) {
  .form__save-button_size_s {
    left: 22px;
    max-width: calc(100% - 22px*2);
  }
}
