.form__input-name {
  margin: 54px 0 0 0;
  padding: 0;
  border-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  min-height: 27px;
}

@media screen and (max-width: 320px) {
  .form__input-name {
    margin: 75px 0 0 0;
  }
}
